<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="mysqlConn" connectionString="Database=weighing;Data Source=Localhost;User Id=admin;Password=Txmy0071;pooling=false;CharSet=utf8;port=33069" />
    <add name="sqliteConn" connectionString=" Data Source=D:\WorkSpace\VisualStudio\WPF\IntentConnectWeighing\IntentConnectWeighing\bin\Debug\data\interConnectionData.db;Version=3;Pooling=False;Max Pool Size=100;" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="programVersion" value="1.0.1" />
    <add key="coryRight" value="Copyright © 2017 - 2020  Clf 版权所有" />
    <add key="dbType" value="mysql" />
    <add key="sqliteDbPath" value="D:\WorkSpace\VisualStudio\WPF\IntentConnectWeighing\IntentConnectWeighing\bin\Debug\data" />
    <add key="sqliteDbName" value="interConnectionData.db" />
    <add key="clientId" value="047ee76b-314c-45cd-9216-f1238235d86c" />
    <add key="defaultPwd" value="123456" />
    <add key="companyId" value="0b43b193-ca95-432a-8ec7-cc8b9a8072ad" />
    <add key="companyName" value="富源县天鑫煤业有限公司" />
    <add key="companyRegisterStep" value="" />
    <add key="usingStatus" value="" />
    <add key="softwareVersion" value="netConnection" />
    <add key="defaultTryUseTimes" value="2" />
    <add key="tryUseTimes" value="0" />
    <add key="startUseTime" value="" />
    <add key="expiryDate" value="" />
    <add key="autoPrint" value="true" />
    <add key="allowDiffrenceMaterialWeighing" value="false" />
    <add key="allowDiffrenceCompany" value="false" />
    <add key="allowDiffrenceReceiveYard" value="false" />    
    <add key="outFactoryAllowUpdate" value="false" />
    <add key="noDeleteInGross" value="true" />
    <add key="noUpdateFinishedData" value="true" />
    <add key="defaultPrintTimes" value="2" />
    <add key="cameraStramType" value="1" />
    <add key="cameraCaptureFilePath" value="" />
    <add key="mysqlHost" value="192.168.88.3" />
    <add key="mysqlPort" value="33069" />
    <add key="mysqlDatabaseName" value="weighing" />
    <add key="mysqlUserId" value="admin" />
    <add key="mysqlPassword" value="Txmy0071" />
    <add key="serverBaseUrl" value="" />
    <add key="syncUp" value="/api/index/syncup.html" />
    <add key="syncDown" value="/api/index/syncdown.html" />
    <add key="baiduUrl" value="www.baidu.com" />
    <add key="baiduAppId" value="10657164" />
    <add key="baiduApiKey" value="fu4xiYTYbPUDssG8aDzMBfWl" />
    <add key="baiduApiSecretKey" value="54G3BY4VuSuLxioZ2tzglD5SfgrGX8R9" />
    <add key="baiduAccessKey" value="7a663192ff2d4c1eaa1fab39a186b361 " />
    <add key="baiduSecretKey" value="069b2074a3254fa788407ffc057ce599 " />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.66.0" newVersion="1.0.66.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>